body{
    font-family: 'Sniglet', cursive;
}

.content{
    height: 88%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    background-image: url("../images/background.png");
    background-size: 100% auto;
    h1 {
        width: 100%;
    }

    

    .modal {
        /*make the whole modal centered in the middle*/
        border:solid red;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none; /* Hidden by default */
        z-index: 1; /* Sit on top */
        width: 60%; /* Full width */
        height: 60%; /* Full height */
        overflow: auto; /* Enable scroll if needed */

        /* flex */
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        .modalMessage {
            height: 70%;
            width:70%;
            border: solid blue;
            padding: 10%;
            margin: 10%;

            border-radius: 20px;
            border: solid 3px #76849A;
            font-size: 50px;
            color: #525863;

            background-color: rgba(255,187,114,0.9);

        }
        .modalButton{
            width:100%;
            height: 15%;
            border: solid green;
            padding-top: 5%;
            button {
                font-size: 40px;
                background-color: #E9C8B5;                
                height: 80%;
                width: 40%;
                margin-left: 4%;
                margin-right: 4%;
                text-align: center;
                display: inline-block;
                border-radius: 20px;
                border: solid 3px #76849A;
                color:#525863;
                transition-duration: 0.2s;      
            }

            #scanLaterButton:hover {
                background-color: #FF7F7F;
            }

            #scanOkButton:hover {
                background-color: #8FFFA9;
            }
        }
    }

    .scanningModal {
        position: fixed;
        border: solid yellow;
        width: 100%;
        top:3%;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        #countdownMessage {
            width: 60%;
            border-radius: 14px;
            border: solid 3px #76849A;
            font-size: 40px;
            color: #525863;
            background-color: rgba(255,187,114,0.9);
        }

        #scanStopButton {
            margin-top: 4%;
            font-size: 30px;
            padding: 5px 15px 5px 15px;
            height: 80%;
            text-align: center;
            display: inline-block;
            border-radius: 20px;
            border: solid 2px #76849A;
            color:#525863;
            transition-duration: 0.2s;
        }
        #scanStopButton:hover {
            background-color: #FF7F7F;                
        }

        #notCenteredMessage {
            display: none;
            font-size: 40px;
            margin-top: 10px;
        }

        $glass_wh : 400px;

        .affectivaTest {
            display: none;
            top: 18%;
            position: fixed;
            width: $glass_wh;
            height: $glass_wh;
            border: solid #525863 10px;
            overflow: hidden;
            video {
                width: $glass_wh / 3 * 4;
                margin-left: -$glass_wh / 6;
            }
        }

        $toggle_wh: 150px;
        #toggleCamButton {
            display: none;
            opacity: 50%;
            position: fixed;
            font-size: 30px;
            width: $toggle_wh;
            height: $toggle_wh;
            bottom: 15%;
            right: 6%;
            text-align: center;
            border-radius: 20px;
            border: solid 2px #76849A;
            color:#525863;
            transition-duration: 0.2s;
            background-color: #E9C8B5;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            img {
                width: $toggle_wh - 20px;
                height: $toggle_wh - 20px;
            }
        }
    }

    .scanResultModal {
        width: 60%;
        height: 50%;
        font-size: 50px;
        position: fixed;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        border-radius: 20px;
        border: solid 3px #76849A;
        background-color: white;
        input {
            font-size: 25px;
        }
        #resultChartContainer {
            height: 50%;
            width: 80%;
        }

    }

    #startScanButton {
        font-size: 45px;
        position: fixed;
        width: 12%;
        height: 4%;
        top: 1em;
        right: 1em;
    }
}

#memo {
    width: 40%;
    height: 40%;
    margin: 30%;
    border: solid;
    background: grey;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.calendarModal {
    position: fixed;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;

    display: none;
    border: solid;
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    .top {
        h5 {
            font-size: 50px;        
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        img {
            margin-left: 20px;
            width: 40px;
            height: 40px;
        }
    }
    .entrys {
        *{
            margin-left: 10px;
            margin-right: 10px;
        }
        li {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; 
        }
        button {
            height: 20px;
        }
    }
}

.game{
    /* add background-image */
    position: fixed;
    border: solid salmon 10px;
}

.calendar {
    /* add background-image */
    padding: 10%;
    .calendarBox {
        height: 90%;
        border: solid;
        text-align: center;
        width: 98%;
        padding: 5%;
        .monthBar {
            h2 {
                font-size: 60px;                    
            }
            display: flex;
            border: solid;
            flex-direction: row;
            justify-content: center;
            align-items: center;  
        }
        .dateBox {
            border: solid;
            height: inherit;
            ul,li {
                margin: 0px;
                padding: 0px;
                list-style: none;
            }

            li {
                text-align: center;
                margin-top: 10px;
                flex:auto;
            }
            .weekdays {
                text-transform: uppercase; 
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }

            .alldays {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                .date {
                    font-size: 40px;
                    padding: 5px;
                    flex: auto;
                    width: 14%;
                    height: 18%;
                    margin: 0;
                    padding: 0;
                    border: solid;
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .notThisMonth{
                    background-color: grey;
                }

                .today {
                    background-color: grey;
                }
            }
        }
    }
}

.bar {
    height: 12%;
    border:solid;
    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: center; 

    button {
        font-size: 30px;        
    }
}

.menu {
    margin:5px;
    width: 18%;
    height: 80%;
    font-size: small;
    text-align: center;
    vertical-align: middle;
    padding-top: 16px;
    padding-bottom: 16px;
}

#results {
    * {
        word-wrap: break-word;
    }
}

/*
@media (max-width:500px) {
    .modal {
        font-size: 200%;        
    }
}
*/
.login {

    //test
    //display: flex;    
    display: none;

    position: fixed;
    height: 120%;
    width: 100%;
    background-color: white;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

    * {
        font-family: 'Sniglet', cursive;   
    }

    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 60px;
    }

    h3 {
        font-size: 50px;
    }
    .userName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .password {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    input {
        margin: 5% 10% 30% 10%;
        width: 100%;
        height: 60px;
        font-size: 40px;
    }
    button {
        font-size: 40px;
    }
}