body {
  font-family: 'Sniglet', cursive; }

.content {
  height: 88%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/background.png");
  background-size: 100% auto; }
  .content h1 {
    width: 100%; }
  .content .modal {
    /*make the whole modal centered in the middle*/
    border: solid red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* Hidden by default */
    z-index: 1;
    /* Sit on top */
    width: 60%;
    /* Full width */
    height: 60%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* flex */
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .content .modal .modalMessage {
      height: 70%;
      width: 70%;
      border: solid blue;
      padding: 10%;
      margin: 10%;
      border-radius: 20px;
      border: solid 3px #76849A;
      font-size: 50px;
      color: #525863;
      background-color: rgba(255, 187, 114, 0.9); }
    .content .modal .modalButton {
      width: 100%;
      height: 15%;
      border: solid green;
      padding-top: 5%; }
      .content .modal .modalButton button {
        font-size: 40px;
        background-color: #E9C8B5;
        height: 80%;
        width: 40%;
        margin-left: 4%;
        margin-right: 4%;
        text-align: center;
        display: inline-block;
        border-radius: 20px;
        border: solid 3px #76849A;
        color: #525863;
        transition-duration: 0.2s; }
      .content .modal .modalButton #scanLaterButton:hover {
        background-color: #FF7F7F; }
      .content .modal .modalButton #scanOkButton:hover {
        background-color: #8FFFA9; }
  .content .scanningModal {
    position: fixed;
    border: solid yellow;
    width: 100%;
    top: 3%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .content .scanningModal #countdownMessage {
      width: 60%;
      border-radius: 14px;
      border: solid 3px #76849A;
      font-size: 40px;
      color: #525863;
      background-color: rgba(255, 187, 114, 0.9); }
    .content .scanningModal #scanStopButton {
      margin-top: 4%;
      font-size: 30px;
      padding: 5px 15px 5px 15px;
      height: 80%;
      text-align: center;
      display: inline-block;
      border-radius: 20px;
      border: solid 2px #76849A;
      color: #525863;
      transition-duration: 0.2s; }
    .content .scanningModal #scanStopButton:hover {
      background-color: #FF7F7F; }
    .content .scanningModal #notCenteredMessage {
      display: none;
      font-size: 40px;
      margin-top: 10px; }
    .content .scanningModal .affectivaTest {
      display: none;
      top: 18%;
      position: fixed;
      width: 400px;
      height: 400px;
      border: solid #525863 10px;
      overflow: hidden; }
      .content .scanningModal .affectivaTest video {
        width: 533.33333px;
        margin-left: -66.66667px; }
    .content .scanningModal #toggleCamButton {
      display: none;
      opacity: 50%;
      position: fixed;
      font-size: 30px;
      width: 150px;
      height: 150px;
      bottom: 15%;
      right: 6%;
      text-align: center;
      border-radius: 20px;
      border: solid 2px #76849A;
      color: #525863;
      transition-duration: 0.2s;
      background-color: #E9C8B5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .content .scanningModal #toggleCamButton img {
        width: 130px;
        height: 130px; }
  .content .scanResultModal {
    width: 60%;
    height: 50%;
    font-size: 50px;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 3px #76849A;
    background-color: white; }
    .content .scanResultModal input {
      font-size: 25px; }
    .content .scanResultModal #resultChartContainer {
      height: 50%;
      width: 80%; }
  .content #startScanButton {
    font-size: 45px;
    position: fixed;
    width: 12%;
    height: 4%;
    top: 1em;
    right: 1em; }

#memo {
  width: 40%;
  height: 40%;
  margin: 30%;
  border: solid;
  background: grey;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.calendarModal {
  position: fixed;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  display: none;
  border: solid;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .calendarModal .top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .calendarModal .top h5 {
      font-size: 50px; }
    .calendarModal .top img {
      margin-left: 20px;
      width: 40px;
      height: 40px; }
  .calendarModal .entrys * {
    margin-left: 10px;
    margin-right: 10px; }
  .calendarModal .entrys li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .calendarModal .entrys button {
    height: 20px; }

.game {
  /* add background-image */
  position: fixed;
  border: solid salmon 10px; }

.calendar {
  /* add background-image */
  padding: 10%; }
  .calendar .calendarBox {
    height: 90%;
    border: solid;
    text-align: center;
    width: 98%;
    padding: 5%; }
    .calendar .calendarBox .monthBar {
      display: flex;
      border: solid;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      .calendar .calendarBox .monthBar h2 {
        font-size: 60px; }
    .calendar .calendarBox .dateBox {
      border: solid;
      height: inherit; }
      .calendar .calendarBox .dateBox ul, .calendar .calendarBox .dateBox li {
        margin: 0px;
        padding: 0px;
        list-style: none; }
      .calendar .calendarBox .dateBox li {
        text-align: center;
        margin-top: 10px;
        flex: auto; }
      .calendar .calendarBox .dateBox .weekdays {
        text-transform: uppercase;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
      .calendar .calendarBox .dateBox .alldays {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .calendar .calendarBox .dateBox .alldays .date {
          font-size: 40px;
          padding: 5px;
          flex: auto;
          width: 14%;
          height: 18%;
          margin: 0;
          padding: 0;
          border: solid; }
          .calendar .calendarBox .dateBox .alldays .date img {
            width: 40px;
            height: 40px; }
        .calendar .calendarBox .dateBox .alldays .notThisMonth {
          background-color: grey; }
        .calendar .calendarBox .dateBox .alldays .today {
          background-color: grey; }

.bar {
  height: 12%;
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .bar button {
    font-size: 30px; }

.menu {
  margin: 5px;
  width: 18%;
  height: 80%;
  font-size: small;
  text-align: center;
  vertical-align: middle;
  padding-top: 16px;
  padding-bottom: 16px; }

#results * {
  word-wrap: break-word; }

/*
@media (max-width:500px) {
    .modal {
        font-size: 200%;        
    }
}
*/
.login {
  display: none;
  position: fixed;
  height: 120%;
  width: 100%;
  background-color: white;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .login * {
    font-family: 'Sniglet', cursive; }
  .login h1 {
    font-size: 80px; }
  .login h2 {
    font-size: 60px; }
  .login h3 {
    font-size: 50px; }
  .login .userName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .login .password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .login input {
    margin: 5% 10% 30% 10%;
    width: 100%;
    height: 60px;
    font-size: 40px; }
  .login button {
    font-size: 40px; }

  /* Style for Racoon Book */
.book{
* {
  box-sizing: border-box;
}
.book body {
  /* update paw image and color background later */
  background-color: #f1f1f1;
  padding: 20px;
  /* update font */
  font-family: Arial; 
}
.book h2 {
  font-size: 50px;
  word-break: break-all;
  text-align: center;
}
.book h3 {
  text-align: center;
}
.book p{
  text-align: center;
}
.book .row {
  margin: 8px-16px;
}
.book .row,
.book .row > .book .column {
  padding: 8px;
}
.book .column {
  float: left;
  width: 25%;
}
.book .row: after {
  content: "";
  display: table;
  clear: both;
}
.book .content {
  background-color: white;
  padding: 10px;
} 
}

